<div>
    <div id="map" style="width: 100%; height: 600px; padding: 50px 200px"></div>


    <form action="/add" method="post" class="container card new-form" id="mybestform">

        <div class="form-group">
            <div class="col">
                <input name="nameRoute" type="text" class="form-control" id="nameOfRoute" placeholder="Название маршрута" autocomplete="off" autofocus>
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <input name="author" type="text" class="form-control" id="authorOfRoute" placeholder="Автор"  autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <input name="pointA" type="text" class="form-control" id="comment" placeholder="Точка А"  autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <input name="pointB" type="text"  class="form-control" id="comment" placeholder="Точка В"  autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <input name="lengthRoute" type="text"  class="form-control" id="comment" placeholder="Длина маршрута"  autocomplete="off" >
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <input name="timeRoute" type="text" class="form-control" id="comment" placeholder="Время"  autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <input name="description" type="text" class="form-control" id="comment" placeholder="Описание маршрута"  autocomplete="off">
            </div>
        </div>

        <button type="submit" class="btn btn-success" id="addbutton">Добавить</button>

    </form>

</div>




